[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "longCatEDA"]
	path = longCatEDA
	url = https://github.com/stueller/longcateda
